{% extends 'base.html' %}

{% block content %}
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #8F9BB8;;
        }
        .main-content{
            width: 100%;
            background-color: #122644;
            border-radius: 20px;
            box-shadow: 0 5px 5px rgba(0,0,0,0);
            margin: 5em auto;
            display: flex;
        }
        .company__info{
            background-color: #122644;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
        }
        .fa-codepen{
            font-size:3em;
        }
        @media screen and (max-width: 640px) {
            .main-content{width: 90%;}
            .company__info{
                display: none;
            }
            .login_form{
                border-top-left-radius:20px;
                border-bottom-left-radius:20px;
            }
        }
        @media screen and (min-width: 642px) and (max-width:800px){
            .main-content{width: 70%;}
        }
        .row > h2{
            color:#000000;
        }
        .login_form{
            background-color: #fff;
            border-top-right-radius:20px;
            border-bottom-right-radius:20px;
            border-top:3px solid #ccc;
            border-right:3px solid #ccc;
            border-bottom: 3px solid #ccc;
        }
        form{
            padding: 0 2em;
        }
        .form__input{
            width: 100%;
            border:0px solid transparent;
            border-radius: 0;
            border-bottom: 1px solid #aaa;
            padding: 1em .5em .5em;
            padding-left: 2em;
            margin:1.5em auto;
            transition: all .5s ease;
        }
        .form__input:focus{
            box-shadow: 0 0 5px rgba(0,0,0,0);
            border-radius: 4px;
        }
        .btn{
            transition: all .5s ease;
            width: 70%;
            border-radius: 30px;
            color:#fff;
            font-weight: 600;
            background-color: #122644;
            border: 1px solid #000000;
            margin-top: 1.5em;
            margin-bottom: 1em;
        }
        .btn:hover, .btn:focus{
            background-color: #000000;
            color:#fff;
        }
    </style>
	<div class="container-fluid">
		<div class="row main-content text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fab fa-codepen"></span></h2></span>
				<h4 class="company_title">RUNTASK Leader</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<form control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Email">
							</div>
							<div class="row">
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
<!--							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" class="">
								<label for="remember_me">Remember Me!</label>
							</div>-->
							<div>
								<input type="submit" value="Register" class="btn">
							</div>
						</form>
					</div>
					<div class="row">
						<p>Already have an account? <a href="{% url 'leader_login' %}">Sign In Here!!!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}